

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Training Style Templates &mdash; ROS Training For Industry 0.1 documentation</title>
  

  
  
  
  

  
  <script type="text/javascript" src="../_static/js/modernizr.min.js"></script>
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="../" src="../_static/documentation_options.js"></script>
        <script type="text/javascript" src="../_static/jquery.js"></script>
        <script type="text/javascript" src="../_static/underscore.js"></script>
        <script type="text/javascript" src="../_static/doctools.js"></script>
        <script type="text/javascript" src="../_static/language_data.js"></script>
        <script type="text/javascript" src="../_static/contentui.js"></script>
    
    <script type="text/javascript" src="../_static/js/theme.js"></script>

    

  
  <link rel="stylesheet" href="../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
  <link rel="stylesheet" href="../_static/css/hacks.css" type="text/css" />
  <link rel="stylesheet" href="../_static/contentui.css" type="text/css" />
    <link rel="index" title="Index" href="../genindex.html" />
    <link rel="search" title="Search" href="../search.html" />
    <link rel="next" title="System Setup" href="../setup/system_setup.html" />
    <link rel="prev" title="Table of Content" href="../index.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="../index.html" class="icon icon-home"> ROS Training For Industry
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1 current"><a class="current reference internal" href="#">Training Style Templates</a><ul>
<li class="toctree-l2"><a class="reference internal" href="#assignment-1">Assignment 1</a></li>
<li class="toctree-l2"><a class="reference internal" href="#formatting">Formatting</a></li>
<li class="toctree-l2"><a class="reference internal" href="#include-content">Include content</a></li>
<li class="toctree-l2"><a class="reference internal" href="#workshop-3">Workshop 3</a></li>
</ul>
</li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../setup/system_setup.html">System Setup</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../day1/index.html">Day 1</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../day2/index.html">Day 2</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../day3/index.html">Day 3</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../day4/index.html">Background</a></li>
<li class="toctree-l1"><a class="reference internal" href="../day4/index.html#workshop">Workshop</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../day5/index.html">Day 5</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../index.html">ROS Training For Industry</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../index.html">Docs</a> &raquo;</li>
        
      <li>Training Style Templates</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../_sources/template/template.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="training-style-templates">
<h1>Training Style Templates<a class="headerlink" href="#training-style-templates" title="Permalink to this headline">¶</a></h1>
<p>Introduction text.</p>
<div class="section" id="assignment-1">
<h2>Assignment 1<a class="headerlink" href="#assignment-1" title="Permalink to this headline">¶</a></h2>
<p>And some more text.</p>
</div>
<div class="section" id="formatting">
<h2>Formatting<a class="headerlink" href="#formatting" title="Permalink to this headline">¶</a></h2>
<p>Some paragraph</p>
<p><strong>Some bold text:</strong></p>
<p><em>Some italic text:</em></p>
<p>This is a style for numbered instructions:</p>
<ol class="arabic">
<li><p class="first">Open a terminal</p>
</li>
<li><p class="first">Execute some shell scripts</p>
<div class="highlight-bash notranslate"><div class="highlight"><pre><span class="nb">pwd</span>
ls -la
roscore
</pre></div>
</div>
</li>
<li><p class="first">Just watch how things are running</p>
</li>
<li><p class="first">Here is an image:</p>
<blockquote>
<div><div class="figure">
<a class="reference internal image-reference" href="../_images/ClearBot_software_architecture_gen.png"><img alt="../_images/ClearBot_software_architecture_gen.png" src="../_images/ClearBot_software_architecture_gen.png" style="width: 441.7px; height: 273.7px;" /></a>
</div>
</div></blockquote>
</li>
</ol>
<ul class="simple">
<li>First bullet</li>
<li>Second bullet</li>
<li>Third bullet</li>
</ul>
<dl class="docutils">
<dt>Here comes a note</dt>
<dd><div class="first last admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Use note for various remarks which are not directly related to the main content</p>
</div>
</dd>
<dt>Here comes a tip</dt>
<dd><div class="first last admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">Press CTRL+C to stop the program.</p>
</div>
</dd>
<dt>Here comes a see also box</dt>
<dd><div class="first last admonition seealso">
<p class="first admonition-title">See also</p>
<p class="last">Press CTRL+C to stop the program.</p>
</div>
</dd>
<dt>Here comes a warning</dt>
<dd><div class="first last admonition warning">
<p class="first admonition-title">Warning</p>
<p>A multi</p>
<p>line</p>
<p class="last">warning.</p>
</div>
</dd>
</dl>
</div>
<div class="section" id="include-content">
<h2>Include content<a class="headerlink" href="#include-content" title="Permalink to this headline">¶</a></h2>
<p>The following stuff is included from <code class="code docutils literal notranslate"><span class="pre">included.rst</span></code></p>
</div>
<div class="section" id="workshop-3">
<h2>Workshop 3<a class="headerlink" href="#workshop-3" title="Permalink to this headline">¶</a></h2>
<p>Included content….</p>
</div>
</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="../setup/system_setup.html" class="btn btn-neutral float-right" title="System Setup" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="../index.html" class="btn btn-neutral float-left" title="Table of Content" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2019, License CC BY-ND-NC, Karl Kruusamäe, Veiko Vunder, Robert Valner, Madis Kaspar Nigol, Renno Raudmäe

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>